@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Unica One', cursive;
}
.sectionfive{
    background-color: darkblue;
    min-height: 100vh;
}
.app_pricing h2 {
    color: white;
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 3px;
    padding: 50px;
    /* margin-bottom: 10px; */

}
h2::after {
    display: block;
    height: 1px;
    background-color: white;
    content: " ";
    width: 70px;
    margin: 0 auto;
    margin-top: 20px;
}
.box{
    gap: 1%;
    
}
.box button{
    border-radius: 20px;
    position: relative;
    top: 4rem;
}
.font{
    font-size: 250%;
}
@media (max-width:770px) {
    .box{
        display: block;
        padding-bottom: 50px;
    }
    .middle1{
        margin-bottom: 40px;
    }
    .middle{
        margin-bottom: 40px;
    }


}